.projects-container {
    display: grid;
    justify-items: left;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 30px;
    margin: 3rem 0rem 0rem 0rem;
    padding: 0rem 0rem 1rem 0rem;

}

.project-table {
    display: grid;
}

.project {
    display:flex;
    margin: 0px 0px 1.5rem 0px;
}

.project-box {
    display: grid;
    grid-template-rows: 30px;
    width: 500px;
    justify-items: start;
    align-items: center;
    text-align: left;
}

.header-box{
    display:grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    width: inherit;
}

.header-box button{
    width: 100px;
    justify-self: right;
    
}

.project-icon {
    width: 200px;
    /* height: 85.7px; */
    margin: 10px;
}

.project h4 {
    margin: 10px 0px 0px 0px;
    font-size: 15px;
}
.project p{
    margin: 10px 0px 0px 0px;
}