
.banner {
    display: flex;
    align-items: flex-start;
    background-image: url("./assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: clamp();
}

.image {
    width: 100%;
    height: 12rem;
}

.profile{
    width: 20%;
    height: 12rem;
}

.header {
    width: 80%;
}

.profile-image {
    border-radius: 20px;
    width: 50%;
}