.skills-container {
    display: grid;
    justify-items: left;
}

.skills-container h1 {
    border: 0px 10px 0px 0px;
    border-bottom-color: black;
    
}
.language-buttons {
    display: flex;
    flex-direction: row;
    
}